<div class="card">
  <div class="card-header">
    <strong class="float-left">Answers List</strong>
    <!-- It won't show if there is no answer data -->
    <div class="card-actions">
      <a [routerLink]="['/answers/answeradd']" class="" *ngIf="hideWhenNoAnswer">
        <i class="icon-plus"></i>
      </a>
    </div>
  </div>

  <div class="card-body">

    <!-- Preloader shows before the data loads-->
    <div class="no-data text-center" *ngIf="preLoader">
      <img src="assets/preloader.gif" class="preloader-icon" alt="No answer">
    </div>

    <!-- No data shows when their is no answer data available -->
    <div class="no-data text-center" *ngIf="noData">
      <p class="nodata-msg">No answers added yet!</p>
      <a [routerLink]="['/answers/answeradd']" class="btn btn-success">
        <i class="icon-plus"></i>
        Add Answer
      </a>
    </div>

    <!-- Showing answers data -->
    <div *ngIf="hideWhenNoAnswer">
      <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
        <thead>
        <tr>
          <th scope="col">Answer Id</th>
          <th scope="col">Answer category</th>
          <th scope="col">Question</th>
          <th scope="col">Answer</th>
          <th class="text-center" scope="col">Edit</th>
          <th class="text-center" scope="col">Del</th>
        </tr>
        </thead>
        <tbody>
        <!-- *ngFor loop iterates over Answer array and fetch the answer's data -->
        <!-- paginate pipe will add pagination in answer's list, it won't show if items are less then 7 -->
        <tr *ngFor="let answer of Answer | paginate: { itemsPerPage: 7, currentPage: p }; let i = index;">
          <td>{{answer.$key}}</td>
          <td>{{answer.answer_category}}</td>
          <td>{{answer.question}}</td>
          <td>{{answer.answer}}</td>
          <td class="text-center action-block">
            <i class="icon-pencil" [routerLink]="[answer.$key]"></i></td>
          <td class="text-center action-block"><i class="icon-trash" (click)="deleteAnswer(answer)"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- Pagination -->
    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>

  </div>
</div>

